@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: sans-serif;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  /* color: #00b1ff; */
  white-space: pre-wrap;
}

ol {
  margin: 0;
  padding-left: 20px;
  white-space: pre-wrap;
  list-style: decimal;
}

li {
  margin: 0;
  padding: 0;
  display: list-item;
  white-space: pre-wrap;
}

pre {
  margin: 10px 0;
}

br {
  margin: 0;
  padding: 0;
  white-space: pre-wrap;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 50px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.203);
}

/* Input white */
input {
  background-color: transparent;
  border: none;
  padding: 20px;
  margin: 0;
  flex: 10;
  height: 100%;
  font-size: large;
}

input:focus {
  outline: none;
}

button {
  flex: 1;
  height: 100%;
  margin-left: 20px;
  background-color: transparent;
  border: none;
  color: dodgerblue;
  cursor: pointer;
}

button:focus {
  outline: none;
}

svg {
  fill: #000000;
  opacity: 0.4;
}

.results {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 20px;
  max-height: 600px;
  height: fit-content;
  width: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #afafaf transparent; /* For Firefox */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.203);
}

.result {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.result__title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.result__description {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}

.result__link {
  font-size: 16px;
  font-weight: 400;
  color: dodgerblue;
  text-decoration: none;
}

a {
  color: dodgerblue;
  text-decoration: none;
}

.results::-webkit-scrollbar {
  width: 10px;
}

.results::-webkit-scrollbar-thumb {
  background-color: #afafaf; /* Thumb color */
  border-radius: 10px;
}

.results::-webkit-scrollbar-track {
  background-color: transparent; /* Track color */
}
